@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';

@theme {
  --color-background: #0f0f0f;

  --color-foreground: #1c1c1c;
  --color-foreground-hover: #333333;

  --color-primary: #d7263d;
  --color-primary-hover: #dc3a4f;

  --color-accent: #00e0b8;
  --color-accent-hover: #00fdcf;

  --color-success: #27d77a;
  --color-success-hover: #46de8e;

  --color-warning: #f2b441;
  --color-warning-hover: #f3bb54;

  --color-error: #ff3b30;
  --color-error-hover: #ff4f45;

  --color-white: #f5f5f5;
  --color-grey: #a0a0a0;

  --font-montserrat: 'Montserrat', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

body {
  background: var(--color-background);
  color: var(--color-white);

  font-family: var(--font-inter);
}

@layer base {
  h1 {
    font-family: var(--font-montserrat);
    font-size: 48px;
  }

  h2 {
    font-family: var(--font-montserrat);
    font-size: 36px;
  }

  h3 {
    font-family: var(--font-montserrat);
    font-size: 28px;
  }

  p {
    font-family: var(--font-inter);
    font-size: 20px;
  }

  span {
    font-family: var(--font-inter);
    font-size: 16px;
  }

  select {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white"%20stroke-width="2"%20stroke-linecap="round"%20stroke-linejoin="round"><path%20d="M6%209l6%206%206-6"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 18px;
  }
}

.blockSignUp{
  @apply bg-foreground w-[60%] rounded-2xl p-5 flex flex-col gap-10 ;
}

@layer components {
  .input {
    @apply w-fit 
    bg-foreground
    text-base
    border
    border-grey
    mt-1
    px-4 
    py-3 
    rounded-md 
    focus:outline-none 
    focus:border-accent 
    focus:ring-1 
    focus:ring-accent 
    transition-all 
    placeholder:text-grey;
  }

  .logo {
    @apply absolute top-5 left-20;
  }

  .card {
    @apply flex flex-col gap-5 rounded-2xl py-5 px-10 bg-foreground;
  }

  .cardElement {
    @apply flex justify-center items-center gap-15;
  }

  .pill {
    @apply w-fit h-fit px-3 py-1 rounded-full bg-accent font-bold text-black;
  }

  .iconCard {
    @apply w-fit p-3 bg-background rounded-2xl;
  }
}

/* Personnalisation des cases du calendrier */
.react-calendar {
  @apply text-white;
}

.react-calendar__navigation {
  @apply flex justify-between items-center mb-5;
}

.react-calendar__navigation span {
  @apply text-center text-2xl;
}

.react-calendar__navigation__arrow {
  @apply text-3xl mx-3 text-accent cursor-pointer;
}

.react-calendar__navigation__arrow:hover {
  @apply text-accent-hover;
}

.react-calendar__tile {
  @apply border border-white rounded-md cursor-pointer;
}

.react-calendar__tile:hover {
  @apply bg-foreground-hover;
}

.react-calendar__month-view__weekdays__weekday {
  @apply text-xs text-grey underline text-center mb-5;
}

.react-calendar__year-view__months__month {
  @apply aspect-square;
}

.react-calendar__decade-view__years__year {
  @apply aspect-square;
}

.react-calendar__century-view__decades__decade {
  @apply aspect-square;
}

.react-calendar__month-view__days__day {
  @apply aspect-square flex text-sm pl-1 pt-1;
}

.react-calendar__month-view__days__day.upcoming {
  @apply bg-accent;
}

.react-calendar__month-view__days__day.upcoming:hover {
  @apply bg-accent-hover;
}

.react-calendar__month-view__days__day.previous {
  @apply bg-primary;
}

.react-calendar__month-view__days__day.previous:hover {
  @apply bg-primary-hover;
}

.react-calendar__month-view__days__day.active {
  @apply text-primary;
}

.react-calendar__month-view__days__day.selected {
  @apply border-accent border-3;
}
